<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Already Exists</title>
    <link rel="stylesheet" href="/css/exist.css" />
</head>
<body>

<div class="container">
    <h2>User Already Exists</h2>
    <p>The user with this username or email already exists. Please try again with different details.</p>
    <a href="http://localhost:8080/user/add">Go Back to Registration</a>
</div>

</body>
</html>
