<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete User</title>
    <link rel="stylesheet" href="/css/delete.css" />
</head>
<body>

<div class="container">
    <h2>Delete User</h2>
    <form id="deleteForm" action="/user/<%= data.id %>?_method=DELETE" method="POST">
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Delete User</button>
    </form>
    <br>
    <a href="http://localhost:8080/user">Goto Users</a>
</div>


</body>
</html>
